head
  title TweetMap
  meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')

  //CSS 3rd parties
  <!-- bower:css -->
  <link rel="stylesheet" href="client/src/lib/bootstrap/dist/css/bootstrap.css" />
  <!-- endbower -->

  //JS 3rd parties
  <!-- bower:js -->
  <script src="client/src/lib/jquery/jquery.js"></script>
  <script src="client/src/lib/angular/angular.js"></script>
  <script src="client/src/lib/angular-route/angular-route.js"></script>
  <script src="client/src/lib/bootstrap/dist/js/bootstrap.js"></script>
  <script src="client/src/lib/angular-ui-utils/modules/event/event.js"></script>
  <script src="client/src/lib/angular-ui-map/src/map.js"></script>
  <!-- endbower -->

  //CSS app
  link(rel='stylesheet', href='client/src/assets/style.css')


