html, body
  width 100%
  height 100%

body
  margin 0
  overflow hidden
  radial-background(circle, light-red, dark-red)
  color #fff

.center3
  center(250px, 150px)
  
//
// Panes

.pane
  position absolute
  width 100%
  height 100%
  transition left 0.25s ease-in-out
  left -100%
  
.active.pane ~ .pane
  left 100%
  
.active.pane
  left 0

.inactive.pane
  display none
  
//
// Rows

header-height = footer-height = 50px

.pane-row
  position absolute
  overflow hidden
  left 0
  right 0
  
.header.pane-row
  top 0
  height header-height
  padding 8px 5px

.body.pane-row
  top header-height
  bottom footer-height
  background #fff
  color #000
  padding 10px
  
.body.pane-row:first-child
  top 0

.body.pane-row:last-child
  bottom 0

.footer.pane-row
  bottom 0
  height footer-height
  padding 8px 5px